/* MEDIAQUERY and TRANSITIONS */
/* END MEDIAQUERY */

/* RESET */
.crowdstart-form-control p {
  margin: 0;
}

/* END RESET */

/* Forms */

.crowdstart-form-control {
  display: table;
  position: relative;
  width: 100%;
}



.crowdstart-promocode.crowdstart-collapsed{
  display: block;
}

.crowdstart-promocode {
  z-index: 1000;
  -webkit-transition: opacity .4s ease-in-out; max-height .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out; max-height .4s ease-in-out;
  transition: opacity .4s ease-in-out; max-height .4s ease-in-out;
}

.crowdstart-show-promocode {
  cursor: pointer;
}

.crowdstart-promocode .crowdstart-money {
  line-height: 2.4em;
}

.crowdstart-promocode-button {
  text-align: center;
  width: 100%;
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  margin: 5px 0;
  font-weight: 600;
  position: relative;
  box-sizing: border-box;
  font-size: 10px;
  cursor: pointer;
}

.crowdstart-checkout-button, .crowdstart-error-button {
  text-align: center;
  width: 100%;
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  margin: 10px 0;
  font-weight: 600;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.crowdstart-checkout-button .crowdstart-loader {
  height: 12px;
  width: 12px;
  border-width: 6px;
  float: left;
  top: 10px;
  left: 10px;
  margin: 0;
  position: absolute;
}

.crowdstart-paging {
  max-height: 100px;
  width: 100%;
  display: block;
  -webkit-transition: all .4s ease-in-out !important;
  -ms-transition: all .4s ease-in-out !important;
  transition: all .4s ease-in-out !important;
}

#crowdstart-promocode {
  text-transform: uppercase;
}
/* END Forms */

/* Widgets */
.crowdstart-terms {
  font-size: 12px;
}

.crowdstart-empty-cart-message, .crowdstart-error-message {
  text-align: center;
  padding: 15px 0;
}

.crowdstart-thankyou * {
  text-align: center;
}

.crowdstart-thankyou a {
  text-decoration: none;
  display: inline-block;
}

.crowdstart-thankyou .fa {
  -webkit-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.crowdstart-thankyou .crowdstart-fb:hover .fa {
  color: rgb(59,89,152);
}

.crowdstart-thankyou .crowdstart-gp:hover .fa {
  color: #dd4b39
}

.crowdstart-thankyou .crowdstart-tw:hover .fa {
  color: rgb(85, 172, 238)
}


.crowdstart-hover {
  position: relative;
  float: left;
  width: 100%;
  z-index: 100;

  -webkit-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.crowdstart-message::before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  top: -4px;
  left: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.crowdstart-message {
  padding: 2px 8px;
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 12px;
  text-align: left;
}

.crowdstart-card {
  z-index: -100;
}

.crowdstart-error {

}
/* END Widgets */

/* Text */
.crowdstart-money {
  font-weight: 600;
  font-size: 13px;
}

.crowdstart-text-left {
  text-align: left;
}

.crowdstart-text-right {
  text-align: right;
}

.crowdstart-items {
  line-height: 2.4em;
}

.crowdstart-item-description {
  padding-left: 5px;
}

.crowdstart-receipt, .crowdstart-line-item {
  font-size: 12px;
  padding: 5px 0;
  z-index: 100;
}

.crowdstart-fine-print {
  font-size: 11px;
  font-weight: 400;
}
/* END Text */

/* Misc */
.crowdstart-hidden {
  opacity: 0;
  cursor: default;

  -webkit-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.crowdstart-collapsed {
  max-height: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.crowdstart-sep {
  margin: 5px 0;
  width: 100%;
}
/* END Misc */

/* Columns */
.crowdstart-col-1-4 {
  float: left;
  width: 20%;
  margin-right: 5% !important;
}

.crowdstart-col-1-4:last-child {
  margin-right: 0 !important;
}

.crowdstart-col-1-3 {
  float: left;
  width: 30%;
  margin-right: 5% !important;
}

.crowdstart-col-1-3:last-child {
  margin-right: 0 !important;
}

.crowdstart-col-1-2 {
  float: left;
  width: 47.5%;
  margin-right: 5% !important;
}

.crowdstart-col-1-2:last-child {
  margin-right: 0% !important;
}

.crowdstart-col-2-3 {
  float: left;
  width: 65%;
  margin-right: 5% !important;
}

.crowdstart-col-2-3:last-child {
  margin-right: 0 !important;
}

.crowdstart-col-3-4 {
  float: left;
  width: 70%;
  margin-right: 5% !important;
}

.crowdstart-col-3-4:last-child {
  margin-right: 0 !important;
}

.crowdstart-col-1-1 {
  float: left;
  width: 100%;
}

.crowdstart-col-1-2-bl {
  float: left;
  width: 50%;
}

.crowdstart-col-1-3-bl {
  float: left;
  width: 33%;
}

.crowdstart-col-1-3-bl:last-child {
  float: left;
  width: 34%;
}

.crowdstart-col-2-3-bl {
  float: left;
  width: 67%;
}
/* END Columns */

.crowdstart-estimated-delivery {
  width: 100%;
  text-align: right;
}

.crowdstart-list-price {
  position: absolute;
  left: .6em;
  top: 1.5em;
  font-size: 1em;
  font-weight: 200;
  display: block;
  text-decoration: line-through;
}

.icon-lock {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  margin-left: 25px;
  margin-bottom: 25px;

  clear: left;
  float: left;
  position: absolute;
  left: 3.8em;
  top: .3em;
  -webkit-transform:  scale(.4);
  -ms-transform:  scale(.4);
  transform: scale(.4);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.icon-lock .lock-top-1 {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 14%;
  background-color: #transparent;
  border-radius: 40%;
}

.icon-lock .lock-top-2 {
  width: 24%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -12%;
  top: 22%;
  background-color: #151517;
  border-radius: 25%;
}

.icon-lock .lock-body {
  width: 60%;
  height: 48%;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  bottom: 11%;
  background-color: #transparent;
  border-radius: 15%;
}

.icon-lock .lock-hole {
  width: 16%;
  height: 13%;
  position: absolute;
  left: 50%;
  margin-left: -8%;
  top: 51%;
  border-radius: 100%;
  background-color: #151517;
}

.icon-lock .lock-hole:after {
  content: "";
  width: 43%;
  height: 78%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 100%;
  background-color: inherit;
}

.stripe-branding {
  position: absolute;
  top: .85em;
  left: 11.5em;
  font-size: .6em;
}

.stripe-branding a {
  text-decoration: none;
}

