.crowdstart-checkout
  font-weight: 400
  font-size: .7em
  font-style: normal
  font-variant: normal

.select2-container *
  font-size: 0.7em
  font-style: normal
  font-variant: normal

.select2 *
  font-size: 1em

.select2-results *
  font-size: 1.15em
  margin-left: .2em

label
  font-size: 1.2em

.crowdstart-back
  font-size: 1em

.crowdstart-form-control label
  font-weight: 600

.crowdstart-checkout-button
.crowdstart-error-button
  font-weight: 600

.crowdstart-progress li
  font-size: 0.7em

.crowdstart-progress li:before
  font-size: 0.8em

