modal
  width: 100%
  position: absolute
  top: 0
  left: 0

.crowdstart-modal
  content: ""
  height: 0
  opacity: 0
  background: rgba(0,0,0,.6)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 9998
  transition: all 0.5s ease-in-out

.crowdstart-modal-target
  z-index: 9999
  position: absolute
  width: 0%
  left: 50%

.crowdstart-active .crowdstart-modal
  height: 5000px
  opacity: 1
  transition: all 0.5s ease-in-out

