.crowdstart-progress {
  width: 100%;
  padding: 0;
  margin: 20px 0 -10px 0;
}

.crowdstart-progress {
  overflow: hidden;
  counter-reset: step;
}

.crowdstart-progress li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;

  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.crowdstart-progress li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  border-radius: 3px;
  margin: 0 auto 5px auto;

  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.crowdstart-progress li:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;

  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.crowdstart-progress li:first-child:after {
  content: none;
}
