/* SCREENS */
.crowdstart-screens-container
  padding: 10px 15px
  display: table
  width: 100%
  box-sizing:border-box
  line-height:1.5em

  .crowdstart-screens
    width: 100%
    display: table

    .crowdstart-screen-strip
      display: table

      transition: all .4s ease-in-out

      z-index: 1000
      position: relative

      > *
        float: left
        display: block
        position: relative
/* END SCREENS */
