/* SCREENS */
screen-manager
  margin: 0 -1em
  padding: .6em 0em
  display: table
  width: 100%
  box-sizing:border-box
  line-height:1.5em

  .crowdstart-screens
    width: 100%
    display: table

    .crowdstart-screen-strip
      display: table

      transition: all .4s ease-in-out

      z-index: 1000
      position: relative

      > *
        margin: 0 -1em 0 1em
        display: inline-block
        position: relative
/* END SCREENS */
