tabs
  width: 100%
  display: block
  margin-top: 1.5em
  margin-bottom: .5em
  position: relative

  // &:before
  // &:after
  //   content: ''
  //   position: absolute
  //   bottom: 0px

  // &:before
  //   width: 1em
  //   left: -1em

  // &:after
  //   width: 2em
  //   right: -1em

  > *
    display: table-cell
    white-space: nowrap;

.crowdstart-tab
  min-width: 120px
  font-size: 1.2em
  padding: .5em .5em .2em .5em
  text-align: center
  cursor: pointer
  max-height: 36px

  img
    width:60%

  &.crowdstart-tab-selected
    font-weight: 600
    cursor: initial

    img
      width:65%

.crowdstart-tab-padding
  width: 100%
