/* MEDIAQUERY */
.crowdstart-active
  .crowdstart-checkout
    +below(350px)
      top: -2%
      transform: scale(0.6, 0.6)
    +between(350px, 400px)
      top: -2%
      transform: scale(0.9, 0.9)
/* END MEDIAQUERY */

/* CHECKOUT WIDGET */
widget
  position: relative
  width: 100%
  height: 100%
  display: block
  top: 0

  transform: translate(0, -5000px)
  transition: all 0.5s ease-in-out
  z-index: 9999

.crowdstart-active
  widget
    transform: translate(0, 0)

.crowdstart-checkout
  position: absolute
  left: 50%
  top: 5%
  font-weight: 400

  margin-left: -200px

  width: 400px
  max-height: 900px

  overflow: hidden
  box-sizing: border-box
  box-shadow: 0 0 1em .1em rgba(0, 0, 0, 0.4)

  font-size: 1em
  font-style: normal
  font-variant: normal

  padding: 0 1em 1em 1em
  z-index: 9999
/* END CHECKOUT WIDGET */

/* FORMS */
.crowdstart-checkout
  form
    width: 100%
    max-height: 400px
/* END FORMS */

/* UI CONTROLS */
control
  display: inline-block

.crowdstart-back
  position: absolute
  top: 0.2em
  left: 0.6em
  font-size: 0.8em
  cursor: pointer

  transform: scale(-1, 1)
  transition: all 0.4s ease-in-out

.crowdstart-close
  font: 20px/100% arial, sans-serif
  right: 0.3em
  top: 0.1em
  position: absolute
  cursor: pointer

.crowdstart-close:after
  content: '×'

.crowdstart-sep
  margin: .5em 0
  width: 100%

.crowdstart-form-control input
.select2-container input
.crowdstart-form-control label
.crowdstart-form-control button
  margin:0
  border:0
  padding:0
  display:inline-block
  vertical-align:middle
  white-space:normal
  background:none
  line-height:1.5em

  -webkit-box-sizing:border-box
  box-sizing:border-box

.crowdstart-form-control input
.select2-container input
  width: 100%
  font-size:1em

/* Remove the stupid outer glow in Webkit */
.crowdstart-form-control input:focus
.crowdstart-form-control select:focus
.select2-container input:focus
  outline: 0

.crowdstart-checkout .select2
  margin-top: .5em

.crowdstart-line-item .select2
  margin-top: 0

.crowdstart-checkout .select2-selection
  height: 2em

.select2 *
.select2-results *
.select2-container *
  font-size: 1em
  font-style: normal
  font-variant: normal

.select2-container
  z-index: 10000

.crowdstart-form-control label
  font-weight: 600
  padding: 0.5em 0 0 0

.crowdstart-form-control input
.select2-container input
  padding: 0.5em 1em
  margin: 0.5em 0

  z-index: 200

  transition: border 0.3s ease-out

.select2 *
.select2-results *
  font-size: 1em

.select2-selection
  outline: 0 !important

.crowdstart-checkout-button
.crowdstart-error-button
  text-align: center
  width: 100%
  display: block
  padding: 10px 0
  text-transform: uppercase
  text-decoration: none
  letter-spacing: 3px
  margin: 10px 0
  font-weight: 600
  position: relative
  box-sizing: border-box
  cursor: pointer

  .crowdstart-loader
    height: 12px
    width: 12px
    border-width: 6px
    float: left
    top: 10px
    left: 10px
    margin: 0
    position: absolute
/* END UI CONTROLS */
