.crowdstart-checkbox-control
  input(id="{ model.name }", name="{ model.name }", type="checkbox", __checked="{ model.value }", onchange="{ change }", onblur="{ change }")
  label(for="{ model.name }")
    span.crowdstart-checkbox
      .crowdstart-checkbox-parts
        .crowdstart-checkbox-short-part
        .crowdstart-checkbox-long-part
