form#payment
  tabs(model='{ model }', obs='{ obs }')

  control(label='{ "Email" }', input='{ inputs["user.email"] }')
  control(label='{ "Password" }', input='{ inputs["user.password"] }', if='{ config.login }')
  control(name='{ "name"}', label='{ "Name" }', input='{ inputs["user.name"] }')
  .crowdstart-card-widget(if = '{ model.order.type  == "stripe" }')
    .crowdstart-card-details
      control(name='{ "number" }', label='{ "Credit Card" }', input='{ inputs["payment.account.number"] }')
      .crowdstart-card-expiry-cvc
        control(name='{ "expiry" }', label='{ "Expiration" }', input='{ inputs["payment.account.expiry"] }')
        control(name='{ "cvc" }', label='{ "CVC Code" }', input='{ inputs["payment.account.cvc"] }')
    .crowdstart-card
