form#stripe(style='{ style }')
  control(label='{ "Email" }', input='{ inputs["user.email"] }')
  control(label='{ "Password" }', input='{ inputs["user.password"] }', if='{ config.login }')
  control(label='{ "Name" }', input='{ inputs["user.name"] }')
  control(label='{ "Credit Card" }', input='{ inputs["payment.account.number"] }')
  control(label='{ "Expiration" }', input='{ inputs["payment.account.expiry"] }')
  control(label='{ "CVC Code" }', input='{ inputs["payment.account.cvc"] }')
