<div class="crowdstart-checkout crowdstart-widget">
  <progressbar if="{ order.items && order.items.length > 0 && !error }"></progressbar>
  <div class="{ crowdstart-back: true, crowdstart-hidden: view.screenIndex == 0 || view.finished || !order.items || order.items.length <= 0 || error }" onclick="{ back }">
    <i class="fa fa-arrow-left"></i>
  </div>
  <div class="crowdstart-close" onclick="{ close }"></div>
  <div if="{ order.items && order.items.length > 0 && !error }" class="crowdstart-forms">
    <div class="crowdstart-screens">
      <div class="crowdstart-screen-strip">
        <yield/>
        <div class="crowdstart-thankyou">
          <form style="margin-top:80px">
            <h1>{ opts.config.thankYouHeader }</h1>
            <p>{ opts.config.thankYouBody }</p>
            <h3 if="{ showSocial }">
              { opts.config.shareHeader }
            </h3>
            <div if="{ showSocial }">
              <a class="crowdstart-fb" href="" if="{ opts.config.facebook != '' }">
                <i class="fa fa-facebook-square fa-3x"></i>
              </a>
              <a class="crowdstart-gp" href="" if="{ opts.config.googlePlus != '' }">
                <i class="fa fa-google-plus-square fa-3x"></i>
              </a>
              <a class="crowdstart-tw" href="" if="{ opts.config.twitter != '' }">
                <i class="fa fa-twitter-square fa-3x"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="crowdstart-invoice">
      <div class="crowdstart-sep"></div>
      <div each="{ item, i in order.items }" class="{ crowdstart-form-control: true, crowdstart-line-item: true, crowdstart-items: true, crowdstart-collapsed: item.quantity == 0, crowdstart-hidden: item.quantity ==0 }">
        <div class="crowdstart-col-1-2">
          <div class="crowdstart-col-1-4">
            <select class="crowdstart-quantity-select" data-index="{ i }" __disabled="{ this.parent.view.screenIndex >= this.parent.callToActions.length }">
              <option value="0">0</option>
              <option value="1" __selected="{ item.quantity === 1 }">1</option>
              <option value="2" __selected="{ item.quantity === 2 }">2</option>
              <option value="3" __selected="{ item.quantity === 3 }">3</option>
              <option value="4" __selected="{ item.quantity === 4 }">4</option>
              <option value="5" __selected="{ item.quantity === 5 }">5</option>
              <option value="6" __selected="{ item.quantity === 6 }">6</option>
              <option value="7" __selected="{ item.quantity === 7 }">7</option>
              <option value="8" __selected="{ item.quantity === 8 }">8</option>
              <option value="9" __selected="{ item.quantity === 9 }">9</option>
            </select>
          </div>
          <div class="crowdstart-col-3-4">
            <p class="crowdstart-item-description">{ item.productName }</p>
          </div>
        </div>
        <div class="crowdstart-col-1-2">
          <div class="crowdstart-col-1-3-bl crowdstart-text-right">x&nbsp;</div>
          <div class="crowdstart-col-1-3-bl crowdstart-text-right"><span class="crowdstart-money">{ this.parent.currency.renderUICurrencyFromJSON(this.parent.order.currency, item.price) }</span>&nbsp;=</div>
          <div class="crowdstart-col-1-3-bl crowdstart-text-right crowdstart-money">{ this.parent.currency.renderUICurrencyFromJSON(this.parent.order.currency, item.price * item.quantity) }</div>
        </div>
      </div>

      <div class="crowdstart-sep"></div>

      <div class="crowdstart-form-control crowdstart-receipt">
        <div class="crowdstart-col-1-2 crowdstart-text-left">Subtotal</div>
        <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money">{ currency.renderUICurrencyFromJSON(order.currency, view.subtotal()) }</div>
      </div>

      <div class="crowdstart-form-control crowdstart-receipt">
        <div class="crowdstart-col-1-2 crowdstart-text-left">Shipping &amp; Handling</div>
        <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money">{ currency.renderUICurrencyFromJSON(order.currency, view.shipping()) }</div>
      </div>

      <div class="crowdstart-form-control crowdstart-receipt">
        <div class="crowdstart-col-1-2 crowdstart-text-left">Taxes ({ view.taxRate }%)</div>
        <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money">{ currency.renderUICurrencyFromJSON(order.currency, view.tax()) }</div>
      </div>

      <div class="crowdstart-sep"></div>

      <div class="crowdstart-form-control crowdstart-receipt">
        <div class="crowdstart-col-1-2 crowdstart-text-left">Total</div>
        <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money">{ currency.renderUICurrencyFromJSON(order.currency, view.total()) }</div>
      </div>
    </div>

    <div class="{ crowdstart-paging: true, crowdstart-collapsed: view.screenIndex >= callToActions.length, crowdstart-hidden: view.screenIndex >= callToActions.length }">
      <div class="crowdstart-form-control">
        <div class="crowdstart-col-1-1 crowdstart-terms">
          <checkbox name="terms" text="I have read and agree to these terms and conditions." config="opts.config"/>
        </div>
      </div>

      <a class="crowdstart-checkout-button" name="checkout" href="#checkout" onclick="{ next }">
        <div if="{ view.checkingOut }" class="crowdstart-loader"></div>
        <div if="{ view.checkingOut }">Processing</div>
        <div if="{ !view.checkingOut }">{ callToActions[view.screenIndex] }</div>
      </a>
    </div>
  </div>
  <div class="crowdstart-error-message" if="{ error }">
    <h1>Sorry, Unable to Complete Your Transaction</h1>
    <p>Please try again later</p>
  </div>
  <div class="crowdstart-empty-cart-message" if="{ order.items && order.items.length == 0 }">
    <h1>Your Cart is Empty</h1>
    <p>Add something to your cart.</p>
  </div>
</div>
