<div class="crowdstart-checkout crowdstart-widget">
  <progressbar if="{ order.items && order.items.length > 0 && !error }"></progressbar>
  <div class="{ crowdstart-back: true, crowdstart-hidden: view.screenIndex == 0 || view.finished || !order.items || order.items.length <= 0 || error }" onclick="{ back }">
    <i class="fa fa-arrow-left"></i>
  </div>
  <div class="crowdstart-close" onclick="{ close }"></div>
  <div if="{ order.items && order.items.length > 0 && !error }" class="crowdstart-forms">
    <div class="crowdstart-screens">
      <div class="crowdstart-screen-strip">
        <yield/>
        <div class="crowdstart-thankyou">
          <form style="margin-top:20px">
            <h1>{ opts.config.thankYouHeader }</h1>
            <p style="margin-top:10px;">{ opts.config.thankYouBody }</p>
            <div style="padding-top:0px; padding-bottom: 0px" class="owed0">
              <h1>Earn $15 For Each Invite</h1>
              <p>Each friend that you invite, you earn! After 7 successful referrals get a 2nd LEAF FREE.</p>
            </div>

            <div class="content_part_social1555">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbellabeat.com" class="share_thing555 share_thing_fb" target="_blank">
                    <img src="/static/img/fac.png" alt="Facebook">
                </a>
            </div>
            <div class="content_part_social1555">
                <a href="https://twitter.com/intent/tweet?url=www.bellabeat.com&amp;text=Track+your+sleep,+stress+and+movement+with+%23LEAF+-+the+world's+smartest+fashion+jewelry&amp;via=GetBellaBeat" class="share_thing555 share_thing_twit" target="_blank">
                    <img src="/static/img/tw.png" alt="Twitter">
                </a>
            </div>
            <div class="content_part_social1555">
                <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','https://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
				  <img src="/static/img/pin.png" alt="Pinterest">
				</a>
            </div>
            <div class="content_part_social1555">
                <a href="mailto:%20?Subject=LEAF%20By%20Bellabeat%20<3&amp;body=Track%20your%20sleep,%20stress%20and%20movement%20with%20LEAF%20-%20the%20world's%20smartest%20fashion%20jewelry%20www.bellabeat.com" class="share_thing555 share_thing_fb" target="_blank">
                    <img src="/static/img/em.png" alt="E-mail">
                </a>
            </div>
            <h3 style="margin-top:80px;margin-bottom:0px">Your Personal Referral Link</h3>
            <input style="width: 100%; margin-bottom:0px" readonly="" class="link_for_share" value="http://www.bellabeat.com/?referrer={ referrerId }">
          </form>
        </div>
      </div>
    </div>

    <div class="crowdstart-invoice">
      <div class="crowdstart-sep"></div>
      <div each="{ item, i in order.items }" class="{ crowdstart-form-control: true, crowdstart-line-item: true, crowdstart-items: true, crowdstart-collapsed: item.quantity == 0, crowdstart-hidden: item.quantity ==0 }">
        <div class="crowdstart-col-1-2">
          <div class="crowdstart-col-1-4">
            <select class="crowdstart-quantity-select" data-index="{ i }" __disabled="{ this.parent.view.screenIndex >= this.parent.callToActions.length }">
              <option value="0">0</option>
              <option value="1" __selected="{ item.quantity === 1 }">1</option>
              <option value="2" __selected="{ item.quantity === 2 }">2</option>
              <option value="3" __selected="{ item.quantity === 3 }">3</option>
              <option value="4" __selected="{ item.quantity === 4 }">4</option>
              <option value="5" __selected="{ item.quantity === 5 }">5</option>
              <option value="6" __selected="{ item.quantity === 6 }">6</option>
              <option value="7" __selected="{ item.quantity === 7 }">7</option>
              <option value="8" __selected="{ item.quantity === 8 }">8</option>
              <option value="9" __selected="{ item.quantity === 9 }">9</option>
            </select>
          </div>
          <div class="crowdstart-col-3-4">
            <p class="crowdstart-item-description">{ item.productName }</p>
          </div>
        </div>
        <div class="crowdstart-col-1-2">
          <div class="crowdstart-col-1-3-bl crowdstart-text-right">x</div>
          <div class="crowdstart-col-1-3-bl crowdstart-text-right"><span class="crowdstart-money">{ this.parent.currency.renderUICurrencyFromJSON(this.parent.order.currency, item.price) }</span>&nbsp;=</div>
          <div class="crowdstart-col-1-3-bl crowdstart-text-right crowdstart-money">{ this.parent.currency.renderUICurrencyFromJSON(this.parent.order.currency, item.price * item.quantity) }</div>
        </div>
      </div>

      <div class="{ crowdstart-form-control: true, crowdstart-promocode: true, crowdstart-hidden: !showPromoCode, crowdstart-collapsed: !showPromoCode}">
        <div class="crowdstart-col-1-2 crowdstart-text-right">
          <input value="{ promoCode }" id="crowdstart-promocode" name="promocode" type="text" onchange="{ updatePromoCode }" onblur="{ updatePromoCode }" onfocus="{ removeError }" placeholder="Coupon/Promo Code" />
        </div>
        <div class="crowdstart-col-1-2 crowdstart-text-right">
          <div class="crowdstart-col-1-2 crowdstart-text-right">
            <a class="crowdstart-promocode-button" onclick="{ submitPromoCode }">
              <div if="{ view.checkingPromoCode }">...</div>
              <div if="{ !view.checkingPromoCode }">Apply</div>
            </a>
          </div>
          <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money" if="{ view.discount() > 0 }">-{ currency.renderUICurrencyFromJSON(order.currency, view.discount()) }</div>
          <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money" if="{ view.discount() == 0 && invalidCode}">Invalid Code</div>
        </div>
      </div>
      <div class="crowdstart-form-control crowdstart-promocode crowdstart-text-right" if="{ !showPromoCode }">
        <span class="crowdstart-show-promocode crowdstart-fine-print" onclick="{ togglePromoCode }">Have a Promo Code?</a>
      </div>

      <div class="crowdstart-sep"></div>

      <div class="crowdstart-form-control crowdstart-receipt">
        <div class="crowdstart-col-1-2 crowdstart-text-left">Subtotal</div>
        <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money">{ currency.renderUICurrencyFromJSON(order.currency, view.subtotal()) }</div>
      </div>

      <div class="crowdstart-form-control crowdstart-receipt">
        <div class="crowdstart-col-1-2 crowdstart-text-left">Shipping &amp; Handling</div>
        <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money">{ currency.renderUICurrencyFromJSON(order.currency, view.shipping()) }</div>
      </div>

      <div class="crowdstart-form-control crowdstart-receipt">
        <div class="crowdstart-col-1-2 crowdstart-text-left">Taxes ({ (order.taxRate || 0) * 100 }%)</div>
        <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money">{ currency.renderUICurrencyFromJSON(order.currency, view.tax()) }</div>
      </div>

      <div class="crowdstart-sep"></div>

      <div class="crowdstart-form-control crowdstart-receipt">
        <div class="crowdstart-col-1-2 crowdstart-text-left">Total</div>
        <div class="crowdstart-col-1-2 crowdstart-text-right crowdstart-money">{ currency.renderUICurrencyFromJSON(order.currency, view.total()) }</div>
      </div>
    </div>

    <div class="{ crowdstart-paging: true, crowdstart-collapsed: view.screenIndex >= callToActions.length, crowdstart-hidden: view.screenIndex >= callToActions.length }">
      <div class="crowdstart-form-control">
        <div class="crowdstart-col-1-1 crowdstart-terms">
          <checkbox name="terms" config="opts.config">
          I have read and agree to <a target="_blank" href="{ this.parent.opts.config.termsUrl }">these terms and conditions</a>.
          </checkbox>
        </div>
      </div>

      <a class="crowdstart-checkout-button" name="checkout" href="#checkout" onclick="{ next }">
        <div if="{ view.checkingOut }" class="crowdstart-loader"></div>
        <div if="{ view.checkingOut }">Processing</div>
        <div if="{ !view.checkingOut }">{ callToActions[view.screenIndex] }</div>
      </a>
    </div>
  </div>
  <div class="crowdstart-error-message" if="{ error }">
    <h1>Sorry, Unable to Complete Your Transaction</h1>
    <p>Please try again later</p>
  </div>
  <div class="crowdstart-empty-cart-message" if="{ order.items && order.items.length == 0 }">
    <h1>Your Cart is Empty</h1>
    <p>Add something to your cart.</p>
  </div>
</div>
