.crowdstart-terms(if='{ !hide }')
  control(input='{ inputs.agreed }')
  | I have read and agree to&nbsp;
  a(target="_blank", href="{ config.termsUrl }")
    | these terms and conditions.
.crowdstart-button(onclick='{ submit }', if='{ !hide }')
  .crowdstart-loader(if='{ locked }')
  div(if='{ locked }')
    | Processing
  div(if='{ !locked }')
    | { config.callToAction || 'confirm' }
.crowdstart-message(if='{ hasError() }')
  | { error }
