.crowdstart-items
  .crowdstart-sep
  lineitem(each='{ item, i in order.items }', model='{ item }')
.crowdstart-receipt
  .crowdstart-sep
  .crowdstart-subotal
    .crowdstart-receipt-label
      | Subtotal
    .crowdstart-money
      | { currency.renderUICurrencyFromJSON(model.currency, subtotal()) }
  .crowdstart-shipping-and-handling
    .crowdstart-receipt-label
      | Shipping & Handling
    .crowdstart-money
      | { currency.renderUICurrencyFromJSON(model.currency, shipping()) }
  .crowdstart-tax
    .crowdstart-receipt-label
      | Taxes ({ taxRate() }%)
    .crowdstart-money
      | { currency.renderUICurrencyFromJSON(model.currency, tax()) }
  .crowdstart-sep
  .crowdstart-total
    .crowdstart-receipt-label
      | Total
    .crowdstart-money
      | { currency.renderUICurrencyFromJSON(model.currency, total()) } ({model.currency.toUpperCase()})


