.crowdstart-items
  .crowdstart-sep
  lineitem(each='{ item, i in model.items }', currency='{ this.parent.model.currency }', model='{ item }', obs='{ this.parent.obs }')
  promo(order='{ model }', client='{ client }')

.crowdstart-totals
  .crowdstart-sep

  .crowdstart-subotal
    .column.crowdstart-receipt-label
      | Subtotal
    .column.crowdstart-money
      | { renderCurrency(model.currency, subtotal()) }

  .crowdstart-shipping-and-handling
    .column.crowdstart-receipt-label
      | Shipping & Handling
    .column.crowdstart-money
      | { renderCurrency(model.currency, shipping()) }

  .crowdstart-tax
    .column.crowdstart-receipt-label
      | Taxes ({ taxRate() }%)
    .column.crowdstart-money
      | { renderCurrency(model.currency, tax()) }

  .crowdstart-sep

  .crowdstart-total
    .column.crowdstart-receipt-label
      | Total
    .column.crowdstart-money
      | { renderCurrency(model.currency, total()) } ({model.currency.toUpperCase()})
