.crowdstart-items
  .crowdstart-sep
    lineitem(each='{ item, i in model.items }', currency='{ this.parent.model.currency }', model='{ item }')
.crowdstart-totals
  .crowdstart-sep
  .crowdstart-subotal
    .crowdstart-receipt-label
      | Subtotal
    .crowdstart-money
      | { renderCurrency(model.currency, subtotal()) }
  .crowdstart-shipping-and-handling
    .crowdstart-receipt-label
      | Shipping & Handling
    .crowdstart-money
      | { renderCurrency(model.currency, shipping()) }
  .crowdstart-tax
    .crowdstart-receipt-label
      | Taxes ({ taxRate() }%)
    .crowdstart-money
      | { renderCurrency(model.currency, tax()) }
  .crowdstart-sep
  .crowdstart-total
    .crowdstart-receipt-label
      | Total
    .crowdstart-money
      | { renderCurrency(model.currency, total()) } ({model.currency.toUpperCase()})


