div(class='{ crowdstart-line-item: true, crowdstart-collapsed: model.quantity == 0, crowdstart-hidden: model.quantity == 0 }')
  .crowdstart-quantity-select.crowdstart-form-control
    control(input='{ inputs.quantity }')
  .crowdstart-item-description
    | { model.productName }
  .crowdstart-item-price
    | { renderCurrency(currency, model.price) }
    .crowdstart-item-list-price(if='{ model.price != model.listPrice }')
      | { renderCurrency(currency, model.listPrice) }
  .crowdstart-item-total-price
    | { renderCurrency(currency, model.quantity * model.price) }


