.crowdstart-form-control
  control(input='{ inputs.promoCode }', onclick='{ resetState }')
  .crowdstart-button(onclick='{ submit }', if='{ !hide }')
    .crowdstart-loader(if='{ locked }')
    div(if='{ locked }')
      | ...
    div(if!='{ !locked && !codeApplied }')
      | Apply
    div(if!='{ !locked && codeApplied }')
      | Apply
  .crowdstart-promo-discount(if!='{ !locked && codeApplied && !freeProduct }')
    .crowdstart-promo-label
      | You Saved
    .crowdstart-money
      | { renderCurrency(order.currency, discount()) }
  .crowdstart-promo-item(if!='{ !locked && codeApplied && freeProduct }')
    .crowdstart-promo-label(if='{ freeProduct.quantity === 1 }')
      | Free
    .crowdstart-promo-label(if='{ freeProduct.quantity > 1 }')
      | { freeProduct.quantity } Free
    .crowdstart-promo-item-name
      | { freeProduct.name }
  div(if!="{ !locked && invalidCode === '' && model.promoCode !== '' && !clickedApplyPromoCode}")
    | Don't forget to apply your code!
  div(if!="{ !locked && invalidCode === 'expired'}")
    | Expired
  div(if!="{ !locked && invalidCode === 'invalid'}")
    | Invalid Code
