.crowdstart-form-control
  control(input='{ inputs.promoCode }')
  .crowdstart-button(onclick='{ submit }', if='{ !hide }')
    .crowdstart-loader(if='{ locked }')
    div(if='{ locked }')
      | Processing
    div(if!='{ !locked && !codeApplied }')
      | Apply Code
    div(if!='{ !locked && codeApplied }')
      | Apply New Code
  div(if!='{ !locked && codeApplied }')
    .crowdstart-receipt-label
      | Discount
    .crowdstart-money
      | { renderCurrency(order.currency, discount()) }
  div(if!="{ !locked && invalidCode === '' && model.promoCode !== '' && !clickedApplyPromoCode}")
    | Don't forget to apply your code!
  div(if!="{ !locked && invalidCode === 'expired'}")
    | Invalid Code
  div(if!="{ !locked && invalidCode === 'invalid'}")
    | Expired
