<form id="crowdstart-shipping" style="padding-top:10px">
  <div class="crowdstart-form-control">
    <label class="crowdstart-col-2-3">Shipping Address</label>
    <label class="crowdstart-col-1-3">Suite <span class="crowdstart-fine-print"> (optional)</span></label>
  </div>
  <div class="crowdstart-form-control">
    <div class="crowdstart-col-2-3 crowdstart-form-control">
      <input value="{ order.shippingAddress.line1 }" id="crowdstart-line1" name="line1" type="text" onchange="{ updateLine1 }" onblur="{ updateLine1 }" onfocus="{ removeError }" placeholder="123 Street" />
    </div>
    <div class="crowdstart-col-1-3 crowdstart-form-control">
      <input value="{ order.shippingAddress.line2 }" id="crowdstart-line2" name="line2" type="text" onchange="{ updateLine2 }" onblur="{ updateLine2 }" onfocus="{ removeError }" placeholder="Apt 123" />
    </div>
  </div>
  <div class="crowdstart-form-control">
    <label class="crowdstart-col-1-1">City</label>
    <div class="crowdstart-col-1-1 crowdstart-form-control">
      <input value="{ order.shippingAddress.city }" id="crowdstart-city" name="city" type="text" onchange="{ updateCity }" onblur="{ updateCity }" onfocus="{ removeError }" placeholder="City" />
    </div>
  </div>
  <div class="crowdstart-form-control">
    <label class="crowdstart-col-1-2">State / Province</label>
    <label class="crowdstart-col-1-2">Postal Code
      <span class="crowdstart-fine-print">
        { !country.requiresPostalCode(order.shippingAddress.country) ? '(optional)' : '&nbsp;' }
      </span>
    </label>
  </div>
  <div class="crowdstart-form-control">
    <div class="crowdstart-col-1-2 crowdstart-form-control">
      <input value="{ order.shippingAddress.state }" id="crowdstart-state" name="state" type="text" onchange="{ updateState }" onblur="{ updateState }" onfocus="{ removeError }" placeholder="State" />
    </div>
    <div class="crowdstart-col-1-2 crowdstart-form-control">
      <input value="{ order.shippingAddress.postalCode }" id="crowdstart-postalCode" name="postalCode" type="text" onchange="{ updatePostalCode }" onblur="{ updatePostalCode }" onfocus="{ removeError }" placeholder="Zip/Postal Code" />
    </div>
  </div>
  <div class="crowdstart-form-control">
    <label class="crowdstart-col-1-1">Country</label>
  </div>
  <div class="crowdstart-form-control" style="margin-bottom: 5px">
    <div class="crowdstart-col-1-1">
      <select id="crowdstart-country-select" class="crowdstart-country-select" style="width:100%" if="{ order && order.shippingAddress }">
        <option each="{ code, name in countries }" value="{ code }" __selected="{ code === this.parent.order.shippingAddress.country }">{ name }</option>
      </select>
    </div>
  </div>
</form>


