.crowdstart-tab(onclick='{ chooseStripe }', class='{ crowdstart-tab-selected: selected == "stripe" }')
  | Credit Card
.crowdstart-tab(onclick='{ choosePaypal }', class='{ crowdstart-tab-selected: selected == "paypal" }')
  img(src='https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom.svg')
.crowdstart-tab-padding
