.crowdstart-checkout.crowdstart-widget
  progressbar(if!='{ pagingModel.screens.length > 0 }', model='{ pagingModel }')
  .crowdstart-back(if!='{ pagingModel.index > 0 }')
    span &#10140;
  .crowdstart-close(onclick='{ close }')
  .crowdstart-screens-container
    .crowdstart-screens
      .crowdstart-screen-strip
        #{'yield'}
  .crowdstart-invoice
    invoice(model='{ model.order }')
