.crowdstart-checkout.crowdstart-widget
  .row
    header(obs='{ obs }')
  .row
    .column
      screen-manager(model='{ model }', obs='{ obs }', client='{ client }')
    .column
      invoice(model='{ model.order }', client='{ client }' obs='{ obs }')
  confirm(obs='{ obs }', config='{ model.config }')
